<div class="koukoku">

	{* ////////////////////　広告その１　//////////////////// *}

	<div class="koukoku_list">
		<div class="koukoku_img"><img src="/common/images/koukoku01.jpg" width="87" height="75"></div>{* /div koukoku_img end *}
		<div class="koukoku_info"><h3>高級時計OMEGA</h3><p>世界的に人気のオメガウォッチ！シンプルなブレスがシーンを問わず人気です。</p></div>{* /div koukoku_info end *}
	</div>{* /div koukoku_list end *}

	{* ////////////////////　広告その２　//////////////////// *}

	<div class="koukoku_list">
		<div class="koukoku_img"><img src="/common/images/koukoku02.jpg" width="87" height="75"></div>{* /div koukoku_img end *}
		<div class="koukoku_info"><h3>広告タイトル</h3><p>広告情報広告情報広告情報広告情報広告情報広告情報広告情報</p></div>{* /div koukoku_info end *}
	</div>{* /div koukoku_list end *}

	{* ////////////////////　広告その3　//////////////////// *}

	<div class="koukoku_list">
		<div class="koukoku_img"><img src="/common/images/koukoku02.jpg" width="87" height="75"></div>{* /div koukoku_img end *}
		<div class="koukoku_info"><h3>広告タイトル</h3><p>広告情報広告情報広告情報広告情報広告情報広告情報広告情報</p></div>{* /div koukoku_info end *}
	</div>{* /div koukoku_list end *}

</div>{* /div koukoku end *}
