<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link rel="stylesheet" type="text/css"  href="/common/css/common.css">
<link rel="stylesheet" type="text/css"  href="/common/css/alert_box.css">
<script type="text/javascript" src="/common/js/jquery.js"></script>
<title>FB Tools</title>

</head>
<body id="base">
<div class="wrapper">
<h2>Đã post bài trong <span style="color:red;">{$count}</span> group.</h2>
<p>
<span>Số group post thành công: {$success|@count}</span>
<ul>
{foreach from=$success item=s}
    <li style="padding-left: 35px;">- {$s.name}</li>
{/foreach}
</ul>
</p>
<p>
<span>Số group post thất bại:  {$fails|@count}</span>
<ul>
{foreach from=$fails item=g}
    <li style="padding-left: 35px;">- {$g.name}</li>
{/foreach}
</ul>
</p>

<a href="/home">Trở về trang chủ.</a>
</div>
{include file='include/pc_alert_box.html'}
<script type="text/javascript" src="/common/js/alert_box.js"></script>
</body>
</html>
