/* -------------------------------------------------- 
** overlay
** -------------------------------------------------- */
.overlay {
	width: 500px;
	text-align: left;
}
.overlay .overlayBody {
	overflow-y: scroll;
	width: 100%;
	padding-top: 10px;
	border-top: 1px solid #ffffff;
}
.overlay .overlayInner { height: 370px; }
.overlay .overlayBody {
	height: 320px;
}
.overlay .overlayInner {
	background-color: #f5f5f5;
	padding: 10px;
	min-height: 95px;
}
.overlay .overlayHeader {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #d4d4d4;
	position: relative;
}
.overlay .overlayHeader h3 {
	margin: 5px 0 0 0;
	 font-weight: normal;
}
.overlay .overlayHeader span.num {
	background: none;
	padding: 0 5px;
	font-size: 16px;
	color: #dc2238;
	font-weight: bold;
}
.overlay .overlayHeader a.btn {
	padding: 4px 9px;
	position: absolute;
	top: 2px;
	right: 0px;
}
.overlay .overlayBody ul li {
	background-color: #ffffff;
	padding: 5px;
	margin-bottom: 10px;
	min-height: 40px;
}
#popup_who_like .overlayBody div.col1of2 {
	width: 50%;
	float: left;
}
.overlay .overlayBody div.col1of2 p {
	position: relative;
	background-color: #ffffff;
	margin-bottom: 10px;
	height: 50px;
	line-height: 50px;
	margin-right: 5px;
	margin-left: 5px;
}
.overlay .overlayBody div.col1of2 p img.icon {
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 11px;
	vertical-align: middle;
}
.mine div.right{ position: relative; }
.mine span.delete{
	position: absolute;
	top: 0;
	right: 0;
}
.overlay .overlayBody ul li:last-child {
	margin-bottom: 0;
}
.overlay .overlayBody ul li img {
	margin-right: 10px;
}
.overlay .overlayBody p.mine span.delete {
	top: 15px;
	right: 15px;
}
.overlay .overlayBody a.left {
	float: left;
	line-height: 40px;
}
.overlay .overlayBody a.btn {
	float: right;
	margin: 2px 10px;
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.overlay .overlayBody ul.linkBox li { padding: 0; }
.overlay .overlayBody ul.linkBox li span.time {
	float: right;
	font-size: 10px;
}
.overlay .overlayBody ul.linkBox li > a {
	display: block;
	padding-left: 55px;
}
.overlay .overlayBody ul.linkBox li > a p {
	margin-top: 20px;
	margin-right: 20px;
}
.overlay .overlayBody ul.linkBox span.usImg a,
.overlay .overlayBody ul.linkBox span.usName a {
	padding: 0;
}
.overlay .overlayBody .dialog {
	overflow: hidden;
	line-height: 36px;
	padding-left: 10px;
}
.overlay .overlayBody .dialog span {
	max-width: 285px;
	display: block;
	float: left;
	line-height: 20px;
}
#cboxClose {
	position: absolute;
	top: 13px;
	right: 20px;
	padding: 3px 10px;
	padding: 5px 13px;
	font-weight: normal;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#cboxClose  {
	display: inline-block;
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#d3d3d3));
	background-image: -moz-linear-gradient(top,#ffffff,#d3d3d3);
	background-image: -o-linear-gradient(top,#ffffff,#d3d3d3);
	background-image: -ms-linear-gradient(top,#ffffff,#d3d3d3);
	background-image: linear-gradient(top,#ffffff,#d3d3d3);
}
#cboxClose:hover {
	background-color: #ffffff;
	text-decoration: none;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f1f1f1));
	background-image: -moz-linear-gradient(top,#ffffff,#f1f1f1);
	background-image: -o-linear-gradient(top,#ffffff,#f1f1f1);
	background-image: -ms-linear-gradient(top,#ffffff,f1f1f1);
	background-image: linear-gradient(top,#ffffff,#f1f1f1);
}
#cboxClose {
	font-weight: bold;
	padding: 5px 20px;
	color: #333333;
	border: 1px solid #d4d4d4;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size: 10px;
	cursor: pointer;
}
#cboxClose:active {
	background-color: #e2e2e2;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#e2e2e2),to(#f2f2f2));
	background-image: -moz-linear-gradient(top,#e2e2e2,#f2f2f2);
	background-image: -o-linear-gradient(top,#e2e2e2,#f2f2f2);
	background-image: -ms-linear-gradient(top,#e2e2e2,#f2f2f2);
	background-image: linear-gradient(top,#e2e2e2,#f2f2f2);
}
#alertOverlay8 .overlayInner,
.overlay.hasScroll .overlayBody .col {
	margin-right: 10px;
}
.overlay .overlayBody p.select {
	margin-bottom: 10px;
}
.overlay .overlayBody p.select select {
	width: 340px;
}
.overlay .overlayBody p.select a.btn {
	float: none;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: normal;
	height: 18px;
	line-height: 18px;
	margin: 0 0 0 15px;
}
