<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link rel="stylesheet" type="text/css" media="screen,tty,tv,projection,handheld" href="/common/css/common.css">
<link rel="stylesheet" type="text/css" media="screen,tty,tv,projection,handheld" href="/common/css/alert_box.css">
<script type="text/javascript" src="/common/js/jquery.js"></script>
<script type="text/javascript" src="/common/js/md5.js"></script>
<script type="text/javascript" src="/common/js/pages/pc_index.js"></script>
<title>FB Tools</title>

</head>
<body id="base">
<div id="fb-root"></div>
<script>
{literal}
	window.fbAsyncInit = function() {
		FB.init({
{/literal}
			appId   : '{$app_id}',
{literal}
			oauth   : true,
			status  : true, // check login status
			cookie  : true, // enable cookies to allow the server to access the session
			xfbml   : true // parse XFBML
		});

	  };

	function fb_login(){
		FB.login(function(response) {

			if (response.authResponse) {
				//console.log('Welcome!  Fetching your information.... ');
				//console.log(response); // dump complete info
				//access_token = response.authResponse.accessToken; //get access token
				//user_id = response.authResponse.userID; //get FB UID

				FB.api('/me', function(response) {
					// user_email = response.email; //get user email
					$.ajax({
						type: 'POST',
						url: '/fb_login.html',
						dataType: 'json',
						success: function(data){
						  if(data.success == 1){
							  location.href = "/home";
						  }
						}
					});         
				});

			} else {
				alert('dasda');
				//user hit cancel button
				// console.log('User cancelled login or did not fully authorize.');
			}
		}, {
			scope: 'email,user_groups,publish_stream,photo_upload'
		});
	}
	(function() {
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
	}());
{/literal}
</script>
<div>
<div class="fb_login">
<a href="#" onclick="fb_login();"><img src="/common/images/top_btn_fb_login.png" width="253" width="50" alt="login with facebook"></a>
</div>
</div>
{include file='include/pc_alert_box.html'}
<script type="text/javascript" src="/common/js/alert_box.js"></script>
</body>
</html>
